<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
    </environment>

    <environment names="Live">
    </environment>
</head>

<body>
    <div id="akc-component">
        @{
            var expandoDict = (IDictionary<string, object>)Model;
            var model = (ParserWebHelper)expandoDict["model"];
            var clippingData = model.clippingData;
        }
        <div class="mvc-export">
            <span>
                <a title="Export visible" class="mvc-export-visible" href="@(Url.Action("export") + ViewContext.HttpContext.Request.QueryString)">Export visible</a>
            </span>
            <span>
                <a title="Export all"  class="mvc-export-all" href="@(Url.Action("export_all"))">Export all</a>
            </span>
        </div>
       
        @(Html
            .Grid(clippingData)
            .Build(columns => {
                columns.Add(item => item.Author).Titled("Author");
                columns.Add(item => item.BookName).Titled("Book Name");
                columns.Add(item => item.ClippingType).Titled("ClippingType");
                columns.Add(item => item.DateAdded).Titled("Date Added");
                columns.Add(item => item.Location).Titled("Location");
                columns.Add(item => item.Text).Titled("Text");
            })
        .Filterable()
        .Sortable()
        .Pageable(pager => {
            pager.RowsPerPage = 10;
        })
        )
    </div>

    <script type="text/javascript">
        $(function () {
            $('#exportButton').click(function () {
                location.href = MVCGrid.getExportUrl('ExportGrid');
            });
        });
    </script>

    <script>
            $('.mvc-grid').mvcgrid();
    </script>
</body>
</html>