<!DOCTYPE html>
<html>
<head>
    <environment names="Development">
    </environment>

    <environment names="Staging, Production">
    </environment>
</head>

<body>
    <div id="akc-component">
        @{
            var expandoDict = (IDictionary<string, object>)Model;
            var model = (ParserWebHelper)expandoDict["model"];
            var clippingData = model.parserClientContent.clippingData;
        }

        @(Html
            .Grid(clippingData)
            .Build(columns => {
                columns.Add(item => item.Author).Titled("Author");
                columns.Add(item => item.BookName).Titled("Book Name");
                columns.Add(item => item.ClippingType).Titled("ClippingType");
                columns.Add(item => item.DateAdded).Titled("Date Added");
                columns.Add(item => item.Location).Titled("Location");
                columns.Add(item => item.Text).Titled("Text");
            })
        .Filterable()
        .Sortable()
        .Pageable()  
        )   
    </div>
</body>
</html>