@{
    Layout = "_Layout";
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<body>
    <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="12u">
                        <section>
                            <h2>About AKC</h2>
                            <p>
                                Organize the highlights, notes, and bookmarks from your Kindle with <strong>Amazing Kindly Clipper</strong> (AKC), a free and open source tool letting you sort, search and filter your clippings. Go to Home to use the web tool or download AKC for Windows (adds extra exporting capabilities to CSV, TXT and HTML).
                            </p>
                            
                            <div><a href="http://www.gottabegarabi.com/downloads/">
                                     <img src="~/images/AKC_desktop.png" alt="AKC Desktop" style="display: block; margin-left: auto; margin-right: auto" >
                                </a>
                            </div>
                            <div class="controls">
                                <a href="http://www.gottabegarabi.com/downloads/" target="_blank" class="button">Download</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="copyright">
                            <div>AKC is free and unencumbered public domain software. For more information, see <a href="http://unlicense.org/">http://unlicense.org/</a> or the accompanying UNLICENSE file.</div>
                            <div>Exporting icons adapted from originals by <a href="https://www.iconfinder.com/igorverizub">Igor Verizub</a></div>
                            <div>Design: <a href="http://html5up.net">HTML5 UP</a> &amp; <a href="http://www.beatrizhc.com/">Beatriz HC</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>