@{
    Layout = "_Layout";
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>

<body>
        <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="12u">
                        <section>
                            <h2>About AKC</h2>
                            <p>
                                Organize the highlights, notes, and bookmarks from your Kindle with <strong>Amazing Kindly Clipper</strong> (AKC), a free and open source tool letting you sort, search and filter your clippings, with exporting capabilities to CSV, TXT and HTML. Use the web tool above or download AKC for Windows.
                            </p>
                            <footer class="controls">
                                <a href="http://www.gottabegarabi.com/downloads/" class="button">Download</a>
                            </footer>
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="8u 12u(mobile)">
                        <section>
                            <h2>How about a truckload of links?</h2>
                            <div>
                                <div class="row">
                                    <div class="3u 12u(mobile)">
                                        <ul class="link-list">
                                            <li><a href="#">Sed neque nisi consequat</a></li>
                                            <li><a href="#">Dapibus sed mattis blandit</a></li>
                                        </ul>
                                    </div>
                                    <div class="3u 12u(mobile)">
                                        <ul class="link-list">
                                            <li><a href="#">Quis accumsan lorem</a></li>
                                            <li><a href="#">Sed neque nisi consequat</a></li>
                                        </ul>
                                    </div>
                                    <div class="3u 12u(mobile)">
                                        <ul class="link-list">
                                            <li><a href="#">Sed neque nisi consequat</a></li>
                                            <li><a href="#">Dapibus sed mattis blandit</a></li>
                                        </ul>
                                    </div>
                                    <div class="3u 12u(mobile)">
                                        <ul class="link-list">
                                            <li><a href="#">Quis accumsan lorem</a></li>
                                            <li><a href="#">Sed neque nisi consequat</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                    <div class="4u 12u(mobile)">

                        <section>
                            <h2>Something of interest</h2>
                            <p>
                                Duis neque nisi, dapibus sed mattis quis, rutrum accumsan sed.
                                Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet.
                            </p>
                            <footer class="controls">
                                <a href="#" class="button">Do the thing</a>
                            </footer>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <div id="copyright">
                            <div>AKC is free and unencumbered public domain software. For more information, see <a href="http://unlicense.org/">http://unlicense.org/</a> or the accompanying UNLICENSE file.</div>
                            <div> Design: <a href="http://html5up.net">HTML5 UP</a> &amp; <a href="http://www.beatrizhc.com/">Beatriz HC</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>