@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<body>
    <div id="akc-component-wrapper">
            <div class="container">
                <div class="akc-container" id="akc-container">
                    @await Component.InvokeAsync("ParserController")
                </div>
            </div>
        </div>
        <div id="main">
            <div class="container">
                <div class="row main-row">
                    <div class="4u 12u(mobile)">
                        <section>
                            <h2>Help</h2>
                            <p>
                                Just follow the intructions above, and double check that the automatic detection of the language matches with the <b>language your Kindle is set up to</b>.
                                If you happen to encounter any problem using AKC feel free to reach me via <a href="http://www.gottabegarabi.com/#contact" target="_blank"> this contact form</a>, describing your problem with as much detail as possible and, ideally, providing a link to download the text file you used.
                            </p>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <h2>Contribute</h2>
                            <ul class="small-image-list">
                                <li>
                                    <a href="https://github.com/DazEdword/AKClipper" target="_blank"><img src="~/images/github_logo.png" alt="" class="left" /></a>
                                    <h4>GitHub</h4>
                                    <p><a href="https://github.com/DazEdword/AKClipper" target="_blank">Fork the repo!</a></p>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div class="4u 12u(mobile)">
                        <section>
                            <h2>Get in touch</h2>
                            <ul class="small-image-list">
                                <li>
                                    <a href="https://twitter.com/DazEdword"><img src="~/images/ed_Avatar.png" alt="" class="left" /></a>
                                    <h4>Ed Garabito</h4>
                                    <div><a href="http://gottabegarabi.com">gottabegarabi.com</a></div>
                                    <div><a href="https://twitter.com/DazEdword">twitter.com/dazedword</a></div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <div id="copyright">
                            <div>AKC is free and unencumbered public domain software. For more information, see <a href="http://unlicense.org/">http://unlicense.org/</a> or the accompanying UNLICENSE file.</div>
                            <div>Design: <a href="http://html5up.net">HTML5 UP</a> &amp; <a href="http://www.beatrizhc.com/">Beatriz HC</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>