@section Styles {
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
}

<div id="akc-component">
    <div class="akc-row">
        @*<div>Browse file</div>*@
        <div class="col-1"><textarea class="urlArea" id="urlArea" style="width:100%;">C:\Users\User\Desktop</textarea></div>
        <div class="col-2"><label for="file-upload" class="button" id="browseButton">Browse File</label>
            <input type="file" id="file-upload"/>
        </div>
    </div>

    <div class="akc-row">
        <div class="col-3">
            A preview of your text will appear here.
        </div>
    </div>
    <div class="akc-row">
        <div class="col-1">
            <span>
                Select the language of your Kindle device
                and click the "Start Parsing" button.
            </span>
            <span>
                <select class="dropdown" name="languages">
                    <option value="english">English</option>
                    <option value="spanish">Spanish</option>
                </select>
            </span>
        </div>
        <div class="col-2"><button class="button">Start Parsing</button> </div>
    </div>
</div>