@section Styles {
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
}

<div id="akc-component">
    <div class="akc-row">
        @*<div>Browse file</div>*@
        <div class="col-1"><textarea id="txtArea" style="width:100%;">C:\Users\User\Desktop</textarea></div>
        <div class="col-2"><button class="button">Browse File</button> </div>
    </div>

    <div class="akc-row">
        <div class="col-3">
            A preview of your text will appear here.
        </div>
    </div>

</div>



